@font-face{
	font-family: LASER;
	src: url(LASER.ttf);
}

body{
	margin:0;
	padding: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
	overflow: hidden;
}

.landing{
	position:fixed;
	padding-left: 5px;
	margin-top: -500px;

}

.title{
	font-family: LASER;
	color:white;
	font-size: 80px;
}

.info{
	font-family: LASER;
	color:white;
}

.scoreboard{
	position: fixed;
	color: white;
	font-family: LASER;
	right:0;
	padding-right: 10px;
	font-size: 20px;
	margin-top: -850px;
}

.points{
	margin-left: 70px;
}

.circle{
	margin-top: 350px;
}


.small{
	margin-left: 10px;
	width: 20px;
	height:20px;
	background-color:#0ff;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 5px rgba(0, 255, 255, .1), 
	0px 0px 2px 10px rgba(0, 255, 255, .1),
	0px 0px 2px 15px rgba(0, 255, 255, .1);

	  --xA: 10px;
      --yA: 10px;
      --xB: 10px;
      --yB: 10px;

     animation-name: moveCircle;
     animation-duration: 2s;
     animation-iteration-count: 1;
     animation-timing-function: ease;

}

.medium{
	align-items: center;
	width: 40px;
	height:40px;
	background-color:#0f0;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, .1), 
	0px 0px 2px 10px rgba(0, 255, 0, .1),
	0px 0px 2px 15px rgba(0, 255, 0, .1);


	  --xA: 10px;
      --yA: 10px;
      --xB: 10px;
      --yB: 10px;

     animation-name: moveCircle;
     animation-duration: 2s;
     animation-iteration-count: 1;
     animation-timing-function: ease;


}

.large{
	margin-left: -10px;
	width: 60px;
	height:60px;
	background-color:#f0f;
	border-radius: 50%;
	box-shadow: 0px 0px 2px 5px rgba(255, 0, 255, .1), 
	0px 0px 2px 10px rgba(255, 0, 255, .1),
	0px 0px 2px 15px rgba(255, 0, 255, .1);


	  --xA: 10px;
      --yA: 10px;
      --xB: 10px;
      --yB: 10px;

     animation-name: moveCircle;
     animation-duration: 2s;
     animation-iteration-count: 1;
     animation-timing-function: ease;

}


 @keyframes moveCircle {
      0% {
        transform: translate3d(var(--xA), var(--yA), 0);
      }
      100% {
        transform: translate3d(var(--xB), var(--yB), 0);
      }
    }